*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
body{
    font-size: 100%;
    background: linear-gradient(245.6deg, #505050 3.21%, #000000 100%);
}
header{
    padding: 30px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header-title{
   font-size: 20px;
   color: #E4FFFC;
   padding: 20px 0;
}
.header-nav{
    color: #E4FFFC;
    font-size: 12px;
}
.header-nav-item{
    padding: 20px 15px;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}
.main-title{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 100;
    padding: 5px 40px 10px 232px;
    line-height: 80px;
}
span{
    color: #000000;
    background: linear-gradient(264.38deg, #FBFF28 0%, #FFFFFF 76.44%);
    box-shadow: -20px 23px 8px rgba(255, 253, 253, 0.07);
    border-radius: 5px;
    padding: 3px;
}
.main-text{
    font-size: 16px;
    letter-spacing: 0.09em;
    color: #E4FFFC;
    padding: 40px;
    padding-left: 232px;
    padding-right: 200px;
}
.main-book{
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px 40px;
    padding-left: 232px;
}
.btn{
    padding: 5px 40px;
    padding-left: 232px;
    padding-top: 0;
}
button{
    width: 130px;
    height: 40px;
    background: #E4FFFC;
    box-shadow: -4px 5px 4px rgba(3, 3, 3, 0.07);
    border-radius: 7px;
}
.image{
    padding-top: 50px;
    padding-left: 0;
    padding-right: 240px;
    padding-bottom: 100px;
}
img{
    max-width: 350px;
    max-height: 350px;
}
